<mat-card style="margin: 10px">
  <h4>Your trip details</h4>
  <p>{{ origin.name }} - {{ origin.description }}</p>
  to
  <p>{{ destination.name }} - {{ destination.description }}</p>
  <span class="st-right">
    <i class="material-icons" *ngIf="fare.currency == 'USD'">attach_money</i>
    <i class="material-icons" *ngIf="fare.currency == 'EUR'">euro_symbol</i>
    {{ fare.amount }}
    <button mat-button style="background-color: #00a1e4; color: #fff">
      Book
    </button>
  </span>
</mat-card>
