<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<form [formGroup]="flightSearchForm">
  <mat-card class="example-card" style="margin: 10px">
    <mat-card-title>Domestic And International Flights</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <p>
        Currency:
        <mat-button-toggle-group
          appearance="legacy"
          name="currency"
          formControlName="currencyFormControl"
        >
          <mat-button-toggle value="EUR"
            ><i class="material-icons">euro_symbol</i>EUR</mat-button-toggle
          >
          <mat-button-toggle value="USD"
            ><i class="material-icons">attach_money</i>USD</mat-button-toggle
          >
        </mat-button-toggle-group>
      </p>
      <label><i class="material-icons">flight_takeoff</i></label>
      <mat-form-field>
        <mat-label>Origin</mat-label>
        <input
          type="text"
          formControlName="originFormControl"
          [errorStateMatcher]="matcher"
          placeholder="start typing to get city or airport code..."
          autocomplete="off"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let originAiport of originAiports"
            [value]="originAiport"
          >
            {{ originAiport.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            flightSearchForm.controls.originFormControl.hasError('required')
          "
        >
          Origin is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <label><i class="material-icons">flight_land</i></label>

      <mat-form-field>
        <mat-label>Destination</mat-label>
        <input
          type="text"
          formControlName="destinationFormControl"
          [errorStateMatcher]="matcher"
          placeholder="start typing to get city or airport code..."
          autocomplete="off"
          matInput
          [matAutocomplete]="auto1"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto1="matAutocomplete"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let destination of destinationAirports"
            [value]="destination"
          >
            {{ destination.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            flightSearchForm.controls.destinationFormControl.hasError(
              'required'
            )
          "
        >
          Destination is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button
        mat-button
        style="background-color: #00a1e4; color: #fff"
        (click)="getFare()"
      >
        Search
      </button>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</form>
<app-price-card [fare]="fare" *ngIf="fare"></app-price-card>
