.bar {
  display: inline-block;
  width: auto;
  background-color: #00a1e4;
  width: 100%;
  color: #fff;
}
.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  cursor: pointer;
}
