<div class="bar">
  <div>
    <span class="bar-item" [routerLink]="['/']"
      ><i class="material-icons">flight</i>Simple Travel</span
    >
  </div>

  <div>
    <span class="bar-item" [routerLink]="['/airports']">Airports</span>
  </div>
</div>
